<!doctype html>
<html>
  <head>
    <title>dayyyy</title>
  </head>
  <body>
    <% preset_date = Date.today.strftime("%A, %B %d, %Y") %>
    <h1>Today</h1>
    <p>The date is <%=preset_date%></p>
  </body>
</html>